<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='icons/covid-19.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main-dark.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body class="body">
    <div id="navbar" class="fixed-top d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow shadow">
      <div class="my-0 mr-md-auto font-weight-normal">
        <a href="/">
          <img src="{{ url_for('static', filename='icons/epam-dark.svg') }}" width="60" height="20"  alt="">
        </a>
      </div>
     <div>
        <nav class="my-2 my-md-0 mr-md-3">
          <a id="navbar-text" class="p-2 text-dark" href="/">Countries</a>
          <a id="navbar-text" class="p-2 text-dark" href="/update">Update</a>
          <a id="navbar-text" class="p-2 text-dark" href="/stress" onclick="let b = document.querySelector('.table').classList;b.add('shake');setTimeout(() => b.remove('shake'), 2000)">Stress</a>
        </nav>
      </div>
    </div>
    <br><br><br>
    {% block body %}{% endblock %}
</body>