{% extends 'header.html' %}

{% block title %}
Countries
{% endblock %}

{% block body %}


<div class="container">
  <table class="table"><caption>Covid Index</caption>
    <thead>
      <tr class="head">
        <th id="th" colspan="8">Countries</th>
      </tr>
    </thead>
    <tbody>
      {% set count = namespace(value=1) %}
      {% for country_code in countries %}
      {% if count.value == 1 %}
        <tr scope="row">
      {% endif %}
          <td id="td"><a id="country_code" href="stats/{{ country_code[0] }}">{{ country_code[0] }}</a></td>
      {% if count.value == 8 %}
        {% set count.value = 1 %}
        </tr>
      {% else %}
        {% set count.value = count.value + 1 %}
      {% endif %}
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}

