{% extends 'header.html' %}

{% block title %}
Update
{% endblock %}

{% block body %}
  <body>
    <br><br><br><br><br><br>
    <div class="container">
       <h1 id="h1" class="display-4 text-center">Successfully updated now <strong>{{ timestamp.strftime('%d.%m.%Y') }}</strong></h1>
    </div>
  </body>
</html>
{% endblock %}
