.body {
    background-color: #343a40!important;
}

#navbar {
    background-color: #343a40!important;
}

#navbar-text {
    color: #fff!important;
}

#h1 {
    color: #BFBFBF;
}

#country_code {
    color: #99BEE6;
}

#th {
border-bottom: thin;
border-color: black;
border-top: black;
}

#td {
border-color: black;
}

table {
font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
font-size: 14px;
border-collapse: collapse;
text-align: center;
}

.head {
background: #234F76;
border-style: solid;
border-width: thin;
border-color: black;
color: #BFBFBF;
padding: 10px 20px;
border-bottom: thin;
}

td {
border-style: solid;
border-width: thin;
border-color: black;
color: #99BEE6;
background: #18344E;
}

.box-shadow {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  -webkit-box-shadow: -2px -1px 15px 7px rgba(0,0,0,0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(0,0,0,0.425);
  box-shadow: -4px -3px 45px 21px rgba(0,0,0,0.35);
}


.shake {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake{
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}